
@font-face {
  font-family: 'MyFont';
  src: local("AirbnbCerealLight"), url("./fonts/SomarSans-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'MyFont', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  /*background-color: #02776D !important;*/
  /*color: white !important;*/
}


